body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell;
}

/* Header Styles */

header {
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 69px;
}

header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header nav li {
    padding-left: 2rem;
}

nav a {
    text-decoration: underline;
}

#main-logo {
    height: 50px;
}

/* Text Styles */

h2, h3, h4, h5 {
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

/* Content Offset */

main, footer {
    position: relative;
    top: 69px;
}

main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Mission Styles */

#mission {
    background-image: url("../images/img-mission-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    margin: auto;
    margin-bottom: 2rem;
}

#mission .text-content {
    background-color: black;
    width: 100%;
    padding: 1rem;
}

/* Featured Tea Styles */

#featured-tea {
    width: 1000px;
    margin-top: 2rem;
}

#featured-tea .tea-outer-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: wrap;
    justify-content: center;
}

#featured-tea .tea-container {
    padding: 1rem;
}

#featured-tea img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

/* Locations Styles */

#locations {
    background-image: url("../images/img-locations-background.jpeg");
    width: 1200px;
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#locations .text-content {
    width: 100%;
    padding-top: 5%;
}

#locations .location-outer-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#locations .location-container {
    width: 300px;
    margin: 1rem;
    background-color: black;
    padding: 1rem;
}

#locations h3 {
    padding: 1rem;
}

/* Contact Styles */

#contact {
    margin: 2rem 0;
}

/* Footer Styles */

footer {
    margin-left: 1rem;
    text-align: left;
    padding-bottom: 1rem;
    font-size: 0.75rem;
}